<!DOCTYPE html>
<html>
<head>
  <title>Nucore</title>
  <%= stylesheet_link_tag    "nucore/application", media: "all" %>
  <%= javascript_include_tag "nucore/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
